.listTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newButton {
  background-color: rgb(64, 78, 201);
  color: rgb(45, 42, 63);
  font-size: 28px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  border: 0.1rem solid rgb(196, 214, 245);
  border-radius: 0.5rem;
  cursor: pointer;
}

.newButton:hover {
  background-color: rgb(90, 105, 240);
}