.profileBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 17rem;
}

.profileBox button, .signInButton {
  align-self: flex-end;
  background-color: rgb(64, 78, 201);
  color: rgb(196, 214, 245);
  font-size: 22px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  border: 0.1rem solid rgb(196, 214, 245);
  border-radius: 0.5rem;
  cursor: pointer;
}

.profileBox button:hover, .signInButton:hover {
  background-color: rgb(54, 65, 163);
}


.form {
  margin: 3rem 0;
  font-size: 20px;
}

.form label,
.form input {
  display: block;
  width: 100%;
}

.form input {
  font: inherit;
  padding: 0.25rem;
}

.signInButton {
  display: block;
  float: right;
}
